<footer>
    <div class="container">
        <h3 class="moto">created with love in Los Angeles</h3>
        <div class="first">
            <div class="experience">
                <h4 class="title">experience fabric expression</h4>

                <div class="copy">
                    <p>It's one of the basic necessities of life, we nee it to stay warm and cover our privates, but it so often goes unnoticed, overlooked in a sea of mass produced trends.</p>

                    <p>Envision a world where fabric tells a story, where it means something special because you chose it, it's your style, it's unique. Join us in a making fabric a platform for creativity and expression, revolutionizing consumption one patch at a time. Own what you wear, and be you.</p>
                </div>

            </div>
            <div class="contact">
                <h4 class="title">contact</h4>
                <ul class="list">
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652683">contact</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652679">about us</a></li>
                    <li><a href="http://www.apliiq.com/models">our models</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652665">family</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6745817">jobs</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=5810875">site</a></li>
                </ul>
            </div>


            <div class="besocial">
                <h4 class="title">social</h4>
                <ul class="list">
                    <li><a href="http://www.facebook.com/theapliiqpage">facebook</a></li>
                    <li><a href="http://www.twitter.com/apliiq">twitter</a></li>
                    <li><a href="http://apliiq.tumblr.com/">tumblr</a></li>
                    <li><a href="http://pinterest.com/source/shop.apliiq.com/">pinterest</a></li>
                    <li><a href="http://www.apliiq.com/site/c.twLZKdN1LvH/b.6652681/k.C428/videos.htm">videos</a></li>
                    <li><a href="http://shop.apliiq.com/sell">sell</a></li>
                </ul>
            </div>
            <div class="belegal">
                <h4 class="title">educate</h4>
                <ul class="list">
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652655">faqs</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652661">policies</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652659">size chart</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6652657">testimonials</a></li>
                    <li><a href="http://shop.apliiq.com/shop/giftcertificate.aspx">gift certificates</a></li>
                    <li><a href="http://www.apliiq.com/site/lookup.asp?c=twLZKdN1LvH&b=6646405">discounts</a></li>
                </ul>
            </div>
        </div>
        <div class="last">
            <div class="showlove">
                <div class="inner">
                    <h4 class="title">show us some love</h4>

                    <div class="buttons">
                        <div class="fb-like" data-href="http://www.apliiq.com/site/c.twLZKdN1LvH/b.5610425/k.BDDC/Home.htm" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                        <a href="https://twitter.com/apliiq" class="twitter-follow-button" data-show-count="false">Follow @apliiq</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
            <div class="newsletter">
                <div class="inner">
                    <h4 class="title">email newsletter</h4>
                    <div class="copy">
                        <p>Receive info about discounts, promotions, events and new
                        product releases! Did we mention you get 5% off ALL future
                        orders for signing up?</p>
                    </div>
                    <form action="">
                        <input type="text" value="Enter email address">
                        <input type="submit" value="submit" id="submit-newsletter">
                    </form>
                </div>
                <div class="arrow-down"></div>
            </div>
        </div>
        <div id="newsletter-popup" class="hide">
            <div class="newsletter-popup-inner">
                <span class="big-thankyou">thanks for signing up!</span>
                <span class="code">enter 'bringmethenews' at checkout for 5% off!</span>
                <span class="hitya">we'll hit ya with the news soon... </span>
            </div>
        </div>
    </div>
    <div class="branding">
        <div class="logo-container">
            <a class="logo" href="">
                apliiq
            </a>
        </div>
    </div>
    <p class="disclaimer">Use of this web site constitutes acceptance of the Terms and Conditions and Privacy Policy. Copyright © 2009-2012, Apliiq Inc. All rights reserved.</p>
</footer>
