<header>
    <div class="container">
        <div class="logo">
            <a title="apliiq.com" href="http://apliiq.com"><span class="hddn">apliiq.com</span></a>
        </div>
        <nav>
            <ul>
                <li><a href="http://shop.apliiq.com/customizer">customize</a></li>
                <li><a href="http://shop.apliiq.com/warehouse">shops</a></li>
                <li><a href="http://shop.apliiq.com/fabrics">fabrics</a></li>
            </ul>
        </nav>
        <menu>
            <ul>
                <li><a href="http://my.apliiq.com/">my apliiq</a></li>
                <li class="login"><a href="">logout</a></li>
                <li class="cart">
                    <a href="http://shop.apliiq.com/cart">
                        <span>3</span>
                    </a>
                </li>
            </ul>
        </menu>
    </div>
</header>