//Sizes
$header-height  :   60px;

//Colors
$black          :   #010101;
$black2         :   #333333;

$grey           :   #777777;
$grey2          :   #999999;
$grey3          :   #eeeeee;

$red            :   #f70a00;

