/*=== Footer Styles
@desc   Apliiq footer styles
@author	Daniel Viedma
@email	daniel.viedma@rokkan.com
==================================================*/

footer {
    background: black;
    padding-bottom: 10px;
    position: relative;
    .container {
        position: relative;
    }
    .first {
        @include columns(6);
    }
    .last {
        @include columns(6);
        margin-top: -20px;
    }
    .moto {
        padding: 50px 0 70px;
    }
    .title {
        position: relative;
        background: black;
        margin: 0 auto;
    }
    .list, .copy, .buttons {
        border-top: 1px dashed $grey;
        margin-top: -8px;
        padding-top: 20px;
        li {
            text-align: center;
        }
        a {
            color: $grey;
            font-size: 14px;
            line-height: 18px;
        }
    }
    #close-overlay {
        position: absolute;
        right: -7px;
        z-index: 30;
        top: -7px;
        @include sprite-common-sprite('close-overlay');
        cursor: pointer;
    }
}

.experience {
    width: 100%;
    margin-bottom: 40px;
    .title {
        width: 290px;
    }
}
.contact {
    @include columns(2, 6);
    .title {
        width: 97px;
    }
}
.besocial{
    @include columns(2, 6);
    .title {
        width: 97px;
    }
}
.belegal {
    @include columns(2, 6);
    margin-right: 0!important;
    .title {
        width: 97px;
    }
}
.showlove {
    width: 100%;
    margin-bottom: 20px;
    .inner {
        background: #111111;
        padding: 20px 20px 40px;
        .title {
            width: 190px;
        }
        .buttons {
            padding-top: 40px;
            .fb-like {
                float: left;
                width: 100px;
                margin-left: 112px;
            }
            .twitter-follow-button {
                display: block;
                float: left;
            }
        }
    }
}
.newsletter {
    width: 100%;
    .inner {
        background: #111111;
        padding: 20px;
        .title {
            width: 170px;
        }
        .copy {
            margin-bottom: 25px;
        }
        input[type="text"] {
            background: white;
            color: grey;
            font-size: 14px;
            border: none;
            padding: 9px;
            width: 257px;
            @include border-radius(3px);
            @include box-shadow(rgba(0, 0, 0, 0.3) 2px 4px 4px 0 inset);
            margin-left: 16px;
        }
    }
    .arrow-down {
    	width: 0;
    	height: 0;
    	border-left: 230px solid transparent;
    	border-right: 230px solid transparent;

    	border-top: 40px solid #111111;
    }
}
.newsletter input[type="submit"], .over-box .btn {
    font-family: 'itcavantgardestdmdbold';
    color: white;
    font-size: 18px;
    @include background-image(linear-gradient(#fe1f11, #cc0800));
    border: none;
    cursor: pointer;
    @include border-radius(20px);
    padding: 4px;
    width: 90px;
    margin-left: 20px;
    &:hover {
        color: #ffffff!important;
        background-image: none;
        background: #fe1f11;
    }
}
.branding {
    border-top: 1px dashed $grey;
    margin-top: 100px;
    .logo-container {
        background: none repeat scroll 0 0 black;
        height: 47px;
        margin: -5px auto 20px;
        padding: 0;
        width: 151px;
        .logo {
            display: block;
            @include sprite-common-sprite('logo-footer');
            text-indent: -9999px;
            left: 20px;
            top: -30px;
        }
    }
}
#newsletter-popup {
    width: 680px;
    height: 232px;
    background: black;
    position: absolute;
    top: 200px;
    left: 100px;
    padding: 10px;
    z-index: 20;
    .newsletter-popup-inner {
        border: 1px dashed #777777;
        height: 100%;
        span {
            display: block;
            text-align: center;
            color: white;
            &.big-thankyou {
                font-size: 48px;
                font-family: 'itcavantgardestdmdbold';
                padding: 45px 0 35px;
            }
            &.code {
                opacity: 0.6;
                font-family: helvetica;
                font-size: 18px;
                padding-bottom: 20px;
            }
            &.hitya {
                opacity: 0.6;
                font-family: helvetica;
                font-size: 14px;
            }
        }
    }
}
.disclaimer {
    font-size: 10px;
}