/*=== Header Styles
@desc   Apliiq header styles
@author	Daniel Viedma
@email	daniel.viedma@rokkan.com
==================================================*/

header {
    @include navbar-fixed();
    height: $header-height;
    background: white;
    .logo {
        position: absolute;
        a{
            @include sprite-common-sprite('logo-bluezebra');
            display: block;
            span {
                position: absolute;
                top: -100px;
                visibility: hidden;
            }
        }
    }
}

nav {
    float: left;
    margin: 20px 0 0 230px;
    ul {
        @include inline-list();
        li {
            margin-right: 40px;
            a {
                font-family: 'ITCAvantGardeStdMdRegular';
                color: $black2;
                font-size: 16px;

            }
        }
    }
}

menu {
    float: right;
    @include omega();
    margin-top: 20px;
    ul {
        //@include inline-list();
        li {
            float: left;
            margin-left: 27px;
            &.login {
                a {
                    color: $grey;
                    font-size: 12px;
                }
            }
            &.cart {
                margin-left: 20px;
                padding-left: 20px;
                border-left: 1px dotted $grey;
                a {
                    @include sprite-common-sprite('cart');
                    display: block;
                    span {
                        padding-left: 25px;
                        color: $red;
                    }
                }
            }
        }
    }
}