/*=== Footer Styles
@desc   Apliiq homepage styles
@author	Daniel Viedma
@email	daniel.viedma@rokkan.com
==================================================*/

$sprite-home-sprite-dimensions: true;
@import "sprite-home/*.png";

section {
    padding-top: 42px;
}
.preload {
    display: none;
}
.parallax {
    width: 100%;
    overflow: hidden;
    padding: 0;
    .over-box {
        display: block;
        top: 165px;
        left: 170px;
        width: 340px;
        height: 400px;
        cursor: default;
        .mod-title {
            span {
                width: 120px;
            }
            .sec-title {
                text-align: left;
                margin-top: 10px;
                line-height: 40px;
            }
            .sec-subtitle {
                font-family: Helvetica, arial, san-serif;
                text-align: left;
                font-size: 16px;
                color: $black2;
                @include opacity(0.5);
                margin-top: 15px;
                border-bottom: 1px dashed #cccccc;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .btn {
                @include border-radius(40px);
                margin-left: 0;
                padding: 22px 47px;
                width: 207px;
                display: block;
                text-align: center;
                @include text-shadow(rgba(0, 0, 0, 0.6) 1px 1px 1px);
                font-size: 24px;
                font-family: Helvetica, arial, san-serif;
                font-weight: bold;
            }
        }
    }
}
.fabrics {
    height: 840px;
    position: relative;
    padding: 0;
    h2 {
        margin-top: 40px;
    }
    .sec-subtitle {
        margin-bottom: 50px;
    }
    .fabric-box {
        @include columns(4);
        height: 300px;
        background: red;
        margin-bottom: 20px;
        cursor: pointer;
        &.fabric1 {
            background: url(../../imgs/fresh-fabrics/fabric1.jpg) no-repeat;
        }
        &.fabric2 {
            background: url(../../imgs/fresh-fabrics/fabric2.jpg) no-repeat;
        }
        &.fabric3 {
            background: url(../../imgs/fresh-fabrics/fabric3.jpg) no-repeat;
        }
        &.fabric4 {
            background: url(../../imgs/fresh-fabrics/fabric4.jpg) no-repeat;
        }
        &.fabric5 {
            background: url(../../imgs/fresh-fabrics/fabric5.jpg) no-repeat;
        }
        &.fabric6 {
            background: url(../../imgs/fresh-fabrics/fabric6.jpg) no-repeat;
        }
    }
    #fabric-detail {
        height: 880px;
        width: 100%;
        top: 0px;
        position: absolute;
        display: none;
        background-repeat: repeat-x;
        top: -40px;
        &.fabric1 {
            background: url(../../imgs/fresh-fabrics/fabric1-det.jpg);
        }
        &.fabric2 {
            background: url(../../imgs/fresh-fabrics/fabric2-det.jpg);
        }
        &.fabric3 {
            background: url(../../imgs/fresh-fabrics/fabric3-det.jpg);
        }
        &.fabric4 {
            background: url(../../imgs/fresh-fabrics/fabric4-det.jpg);
        }
        &.fabric5 {
            background: url(../../imgs/fresh-fabrics/fabric5-det.jpg);
        }
        &.fabric6 {
            background: url(../../imgs/fresh-fabrics/fabric6-det.jpg);
        }
    }
}
.over-box {
    width: 300px;
    height: 300px;
    cursor: pointer;
    position: absolute;
    background: #ffffff;
    top: 0;
    display: none;
    .mod-title {
        border-top: 1px dashed #b2b2b2;
        margin: 40px 20px 0;
        span {
            display: block;
            width: 100px;
            margin: -9px auto 0;
            background: white;
            text-align: center;
            color: #333333;
            font-size: 18px;
            font-family: 'itcavantgardestdmdregular';
        }
    }
    .sections {
        margin-top: 40px;
        text-align: center;
        li {
            margin-bottom: 10px;
            a {
                font-size: 24px;
                color: #999999;
                font-weight: bold;

            }
            &.active a {
                color: #ff0000;
            }
        }
    }
}

.customizer {
    height: 715px;
    background: url(../../imgs/customizer/top-shadow.png),
                url(../../imgs/customizer/bottom-shadow.png),
                url(../../imgs/customizer/customizer-bg.jpg);
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: top, bottom, center;
    text-align: center;
    width: 100%;
    overflow: hidden;
    #c-catalogue {
        margin-top: 20px;
        border-bottom: 1px dashed white;
        width: 915px;
        margin: 20px auto 0;
        padding-top: 6px;
        background: url(../../imgs/customizer/nav-shadow.png) no-repeat;
        position: relative;
        .c-catalogue-inner {
            width: 100%;
            border-bottom: 1px dashed #b6b6b6;
            ul {
                width: 420px;
                margin: 0 auto;
                li {
                    float: left;
                    cursor: pointer;
                    width: 120px;
                    font-size: 16px;
                    padding-top: 15px;
                    color: $grey2;
                    width: 105px;
                    &:hover {
                        color: $main-red;
                    }
                }
            }
            #tab-active {
                @include sprite-home-sprite('customizer-navact');
                position: absolute;
                top: 0px;
                #label {
                    color: white;
                    font-size: 16px;
                    padding-top: 21px;
                    display: block;
                    margin-left: -3px;
                }
            }
        }

    }
}

.social {
    height: 440px;
    .social-box {
        @include columns (3);
        height: 222px;
        background: $grey3;
        overflow: hidden;
        position: relative;
        color: $black2;
        .logo {
            display: block;
            text-indent: -9999px;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
        .play {
            @include sprite-home-sprite('play-logo');
            bottom: 70px;
            left: 66px;
            position: absolute;
            text-indent: -9999px;
        }
        a:hover {
            .play {
                @include sprite-home-sprite('play-logo-hover');
            }
        }
        &.youtube {
            .logo {
                @include sprite-home-sprite('youtube-logo');
            }
            a:hover {
                .logo {
                    @include sprite-home-sprite('youtube-logo-hover');
                }
            }
        }
        &.twitter {
            .tweethandler {
                display: block;
                text-align: center;
                font-family: 'itcavantgardestdmdbold';
                font-size: 18px;
                margin: 30px 0 28px;
            }
            #tweet {
                font-family: Helvetica, arial, sans-serif;
                font-size: 12px;
                padding: 0 30px;
                display: block;
                line-height: 18px;
                a {
                    font-weight: bold;
                }
            }
            .tweetlink {
                font-family: Helvetica, arial, sans-serif;
                font-size: 14px;
                display: block;
                font-weight: bold;
                text-align: center;
                position: absolute;
                bottom: 27px;
                left: 80px;
            }
            .logo {
                @include sprite-home-sprite('twitter-logo');
                &:hover {
                    @include sprite-home-sprite('twitter-logo-hover');
                }
            }
        }
        &.instagram {
            .logo {
                @include sprite-home-sprite('instagram-logo');
            }
            &:hover {
                .logo {
                    @include sprite-home-sprite('instagram-logo-hover');
                }
            }
        }
        &.facebook {
            background: #174e9b;
            span, abbr {
                color: white;
                font-family: Helvetica,Arial,Sans-serif;
                font-size: 12px;
                display: block;
                line-height: 17px;
                text-align: center;
                margin-top: 30px;
                padding: 0 10px;
            }
            .logo {
                @include sprite-home-sprite('facebook-logo');
            }
            &.photo:hover {
                .logo {
                    @include sprite-home-sprite('facebook-logo-hover');
                }
            }
            &.status {
                .logo:hover {
                    @include sprite-home-sprite('facebook-logo-hover');
                }
            }
        }
    }
    .sec-title {
        margin-bottom: 50px;
    }
}

#overlay {
    background: none repeat scroll 0 0 black;
    height: 3610px;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 10;
    top:0px;
    left: 0px;
}

.hide {
    display: none;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}