/*=== Footer Styles
@desc   Apliiq homepage styles
@author	Daniel Viedma
@email	daniel.viedma@rokkan.com
==================================================*/

$sprite-home-sprite-dimensions: true;
@import "sprite-home/*.png";

section {
    padding-top: 42px;
}

.slider {
    height: 700px;
    background: #f5deb3;
}

.fabrics {
    height: 880px;
    position: relative;
    .sec-subtitle {
        margin-bottom: 50px;
    }
    .fabric-box {
        @include columns(4);
        height: 300px;
        background: red;
        margin-bottom: 20px;
        cursor: pointer;
        &.fabric1 {
            background: url(../../imgs/fresh-fabrics/fabric1.jpg) no-repeat;
        }
        &.fabric2 {
            background: url(../../imgs/fresh-fabrics/fabric2.jpg) no-repeat;
        }
        &.fabric3 {
            background: url(../../imgs/fresh-fabrics/fabric3.jpg) no-repeat;
        }
        &.fabric4 {
            background: url(../../imgs/fresh-fabrics/fabric4.jpg) no-repeat;
        }
        &.fabric5 {
            background: url(../../imgs/fresh-fabrics/fabric5.jpg) no-repeat;
        }
        &.fabric6 {
            background: url(../../imgs/fresh-fabrics/fabric6.jpg) no-repeat;
        }
    }
    #fabric-detail {
        height: 880px;
        width: 100%;
        top: 0px;
        position: absolute;
        display: none;
        background-repeat: repeat-x;
        &.fabric1 {
            background: url(../../imgs/fresh-fabrics/fabric1-det.jpg);
        }
        &.fabric2 {
            background: url(../../imgs/fresh-fabrics/fabric2-det.jpg);
        }
        &.fabric3 {
            background: url(../../imgs/fresh-fabrics/fabric3-det.jpg);
        }
        &.fabric4 {
            background: url(../../imgs/fresh-fabrics/fabric4-det.jpg);
        }
        &.fabric5 {
            background: url(../../imgs/fresh-fabrics/fabric5-det.jpg);
        }
        &.fabric6 {
            background: url(../../imgs/fresh-fabrics/fabric6-det.jpg);
        }
    }
    #f-catalogue {
        width: 300px;
        height: 300px;
        cursor: pointer;
        position: absolute;
        background: #ffffff;
        top: 0;
        display: none;
        .mod-title {
            border-top: 1px dashed #b2b2b2;
            margin: 40px 20px 0;
            padding: 0 10px;
            span {
                display: block;
                width: 100px;
                margin: -9px auto 0;
                background: white;
                text-align: center;
                color: #333333;
                font-size: 18px;
                font-family: 'itcavantgardestdmdregular';
            }
        }
        .sections {
            margin-top: 40px;
            text-align: center;
            li {
                margin-bottom: 10px;
                a {
                    font-size: 24px;
                    color: #999999;
                    font-weight: bold;

                }
                &.active a {
                    color: #ff0000;
                }
            }
        }
    }
}

.customizer {
    height: 715px;
    background: url(../../imgs/customizer/top-shadow.png),
                url(../../imgs/customizer/bottom-shadow.png),
                url(../../imgs/customizer/customizer-bg.jpg);
    background-repeat: repeat-x, repeat-x, repeat;
    background-position: top, bottom, center;
    text-align: center;
    #c-catalogue {
        margin-top: 20px;
        border-bottom: 1px dashed white;
        width: 915px;
        margin: 20px auto 0;
        padding-top: 6px;
        background: url(../../imgs/customizer/nav-shadow.png) no-repeat;
        .c-catalogue-inner {
            width: 100%;
            border-bottom: 1px dashed #b6b6b6;
            ul {
                width: 420px;
                margin: 0 auto;
                li {
                    float: left;
                    cursor: pointer;
                    width: 120px;
                    font-size: 18px;
                    padding-top: 15px;
                    color: $grey2;
                    width: 105px;
                }
            }
            #tab-active {
                @include sprite-home-sprite('customizer-navact');
                position: absolute;
                top: 191px;
                #label {
                    color: white;
                    font-size: 18px;
                    padding-top: 21px;
                    display: block;
                }
            }
        }

    }
}

.social {
    height: 440px;
    .social-box {
        @include columns (3);
        height: 222px;
        background: $grey3;
        overflow: hidden;
        position: relative;
        color: $black2;
        .logo {
            display: block;
            text-indent: -9999px;
            position: absolute;
            bottom: 5px;
            right: 5px;
        }
        &.youtube {
            .play {
                @include sprite-home-sprite('play-logo');
                bottom: 70px;
                left: 66px;
                position: absolute;
                text-indent: -9999px;
            }
            .logo {
                @include sprite-home-sprite('youtube-logo');
            }
        }
        &.twitter {
            .tweethandler {
                display: block;
                text-align: center;
                font-family: 'itcavantgardestdmdbold';
                font-size: 18px;
                margin: 30px 0 28px;
            }
            #tweet {
                font-family: Helvetica, arial, sans-serif;
                font-size: 12px;
                padding: 0 30px;
                display: block;
                line-height: 18px;
                a {
                    font-weight: bold;
                }
            }
            .tweetlink {
                font-family: Helvetica, arial, sans-serif;
                font-size: 14px;
                display: block;
                font-weight: bold;
                text-align: center;
                position: absolute;
                bottom: 27px;
                left: 80px;
            }
            .logo {
                @include sprite-home-sprite('twitter-logo');
            }
        }
        &.instagram .logo {
            @include sprite-home-sprite('instagram-logo');
        }
        &.facebook .logo {
            @include sprite-home-sprite('facebook-logo');
        }
    }
    .sec-title {
        margin-bottom: 50px;
    }
}

